.blog {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.blog ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    background: #fff;
    margin-top: 20px;
}

/* h1 {
    color: red;
} */